* ::before,
* ::after,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CursorGothic;
    src: url(./fonts/CursorGothic_Regular-s.p.a361088d.woff2)format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

body {
    /* width: 86vw;
    margin: 0 auto; */
    background-color: #14120B;
}

header {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

/* .hero {
    width: 1200px;
} */

/* section {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
} */

.navbar-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #edecec;
    padding: 5.6px 15px;
    font-family: CursorGothic;
    font-size: 14px;
    background-color: #14120B;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2px;
    margin: 6px 0px;

}

.navbar ul li {
    cursor: pointer;
    padding: 5.6px 14px;
}

.navbar ul li:hover {
    color: #9DB5B4;
}

.nav-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.signin-btn {
    padding: 5.6px 10.5px 5.88px;
    background-color: #00000000;
    border: 1px solid #2b2a2a;
    box-shadow: none;
    border-radius: 50px;
    color: #edecec;
    font-size: 14px;
    font-family: CursorGothic;
    cursor: pointer;
}

.signin-btn:hover {
    background-color: #292828;
    transition: all 0.3s ease;
}

.download-btn {
    padding: 5.6px 10.5px 5.88px;
    border: 1px solid #adadad;
    box-shadow: none;
    border-radius: 50px;
    font-size: 14px;
    font-family: CursorGothic;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #d8d8d8;
    transition: all 0.3s ease;
}


.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-cube {
    width: 18px;
    height: auto;
}


.logo-wordmark {
    width: 70px;
    height: auto;
}

.main-content {
    width: 100%;
    margin: 0 auto;
    color: #edecec;
    font-family: CursorGothic;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.hero-section {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
}

.hero-heading {
    font-size: 26px;
}

.cta-btn {
    padding: 12.48px 21.6px 12.8px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: none;
}

.hero-section-container {
    padding: 112px 20px 67.2px;
}

.hero-bg-img {
    width: 1300px;
    height: 700px;
    object-fit: cover;
    border-radius: 4px;
}

.hero-image-group {
    position: relative;
}

.code-editor-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.brand-section {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 33.6px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand-section p {
    margin-bottom: 20px;
}

.brand-showcase {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    gap: 10px;
}

.brand-card {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #1B1913;

}

.brand-card img {
    width: 100px;
    object-fit: contain;
}

.features-section {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 60px;

}

.features-container {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 14px;
    background-color: #1B1913;
    border-radius: 6px;
}


.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px 0px 20px;

}

.feature-card h3 {
    font-size: 22px;
    margin: 0px;
    line-height: 1.4;
    color: #edecec;
    font-weight: 300;
}

.feature-card p {
    margin: 0px 0px 22px 0px;
    font-size: 22px;
    color: #9a9996;
    font-weight: 300;
}

.feature-card a {
    font-size: 16px;
    text-decoration: none;
    color: #f54e00;

}

.feature-card a:hover {
    color: #db490a;
}

.feature-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
    opacity: 0.9;
}

.feature-card-image {
    position: relative;
}

.code-editor-feture-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}


.testimonial-section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 67px;
    /* padding: 60px; */
}

.testimonial-container {

    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;

    /* padding: 18px; */


}

.testimonial-container h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.testimonial-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 60px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    padding: 0px 17.5px 17.5px;
    background-color: #1B1913;
    border-radius: 4px
}


.bio {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}

.bio span {
    font-size: 14px;
    line-height: 1.5;

}

.customer-name {
    color: #edecec;
}

.customer-role {
    color: #9a9996;
}


.bio img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
}

.usecase-section {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0px 60px;
}


.usecase-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}


.usecase-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15.9px 17.5px 17.5px;
    background-color: #1B1913;
    border-radius: 4px;
}

.usecase-card-item:hover {
    cursor: pointer;
    background-color: #1D1B15;
    transition: all ease;
}


.usecase-card-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 20px;
    border-radius: 8px;
}

.usecase-card-item h3 {
    font-size: 16px;
    margin: 0px;
    line-height: 1.6;
    color: #edecec;
    font-weight: 300;
}

.usecase-card-item p {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    color: #9a9996;
    font-weight: 300;
}

.usecase-card-item a {
    font-size: 16px;
    text-decoration: none;
    color: #f54e00;


}

.usecase-card-item a:hover {
    color: #db490a;
}

.model-list-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    object-fit: cover;
}


.changelog-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 22.4px;
    /* justify-content: center; */

}

.changelog-container {
    padding: 67.2px 20px;
}

.changelog-card-item {
    background-color: #1B1913;
    padding: 15.9px 17.5px 20px;
}

.changelog-card-item:hover {
    cursor: pointer;
    background-color: #201E18;
    transition: all ease;
} 

.version {
    font-size: 14px;
    color: #9a9996;
    padding: 3.92px 9.1px 4.06px;
    border: 1px solid #9a9996;
    border-radius: 12px;
    margin-right: 10px;
}

.version-date {
    font-size: 16px;
    color: #9a9996;
}
.changelog-card-item p {
    font-size: 16px;
    color: #edecec;
    margin: 20px 0px 0px;
}


.changelog-container a {
    font-size: 16px;
    text-decoration: none;
    color: #f54e00;
}
.changelog-container a:hover {
    color: #db490a;
}



.team-section-container {
    padding: 0px 20px 70px 20px;
}


.team-section {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
}

.team-heading {
    font-size: 36px;
}

.team-bg-img {
    width: 1300px;
    height: 750px;
    object-fit: cover;
    border-radius: 4px;
}

.highlight-section {
    background-color: #1B1913;
    /* width: 100%; */
    margin: 67px 0px 0px;
    padding: 89.6px 20px;
}


.highlight-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.highlight-card {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    /* justify-content: center; */
    padding: 13px 17.5px 17.5px 17.5px;
    background-color: #201E18;
    border-radius: 4px;
}

#highlight {
    position: relative;
}

#highlight-span {
    position: absolute;
    left: 300px;
}


.highlight-card-item h3 {
    font-size: 16px;
    margin: 0px;
    line-height: 1.6;
    color: #edecec;
    font-weight: 300;
}
.highlight-card:hover {
    cursor: pointer;
    background-color: #26241E;
    transition: all ease;
}

.highlight-card-item p {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    color: #9a9996;
    font-weight: 400;
}

.highlight-card-item span {
    color: #9a9996;
}

.highlight-container a {
    margin-top: 16px;
    font-size: 16px;
    text-decoration: none;
    color: #f54e00;
}

.highlight-container a:hover {
    color: #db490a;
}


.finalcta-section {
    margin: 0 auto;
    padding: 80px 20px 60px;
}

.finalcta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finalcta-container h1 {
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: 300;
}